@{
    ViewBag.Title = "About";
}
<div class="ui-widget ui-corner-all" style="">
    <div class="ui-widget-header ui-corner-all" style="">
        <span>@ViewBag.Title</span>
    </div>
    <div class="ui-widget-content-no-border" style="">
        <h3>
            How it all started?</h3>
        <p>
            I was creating a scalability plan for a project and it was going really well until I came across <a href="http://highscalability.com/blog/2008/3/12/youtube-architecture.html" style="color: blue;" target="_blank">this</a> page. Look at the "Recipe For Handling Rapid Growth" section.</p>
        <pre style="background-color: White; overflow: auto; margin: 0; margin-right: 10px;" class="prettyprint">
while (true)
{
  identify_and_fix_bottlenecks();
  drink();
  sleep();
  notice_new_bottleneck();
}</pre>
        <p>
            How do you call this peace of code? Computers can't compile it, that is for sure. But it is a valid code snippet. It has to be valid because there are some of us (read geaks) that can compile it. Let's just call it a...</p>
            <pre style="background-color: White; overflow: auto; margin: 0; margin-right: 10px;" class="prettyprint">
GEAKET</pre>
        <h3>
            So...</h3>
        <pre style="background-color: White; overflow: auto; margin: 0; margin-right: 10px;" class="prettyprint">
var geaket = you.mind.GetFirstGeaket();
if(geaket && !computer.CanCompile(geaket) && geaks.CanCompile(geaket)){
  you.Post(geaket);
}
while(visitor){
    if(visitor.type == 'geak'){
        visitor.compile(geaket);
    }
    else{
        continue;
    }
}

console.log(':)');</pre>
    </div>
</div>