@model Geakets.Models.Geaket
@{
    ViewBag.Title = Model.Title;
    Geaket g = Model;
}
<div id="fb-root">
</div>
<script type="text/javascript">    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=160901977301120";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
@Html.Partial("Geaket", g)
<div class="fb-comments" data-href="@(Url.GeaketUrl(g.Id, g.Title))" data-num-posts="2" data-width="630"></div>
